hosts = {{ environ('POSTFIX_MYSQL_HOST') }}
user = {{ environ('POSTFIX_MYSQL_USERNAME') }}
password = {{ environ('POSTFIX_MYSQL_PASSWORD') }}
dbname = {{ environ('POSTFIX_MYSQL_DATABASE') }}
query = SELECT 1 FROM {{ environ('POSTFIX_MYSQL_TABLE_DOMAINS') }} WHERE name='%s'